[submodule "Nexus/external/spdlog"]
	path = Nexus/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "Nexus/external/imgui"]
	path = Nexus/external/imgui
	url = https://github.com/TheCherno/imgui
